table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-style: solid;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


.P-P1{
  background-color:  #caf18a;
}
.P-P2 {
  background-color:  #f1e8e8;
}
.P-P3 {
  background-color: #bceeeb;
}

